<!doctype html>
<html manifest="/appcache/manifest.appcache">
<head>
  <meta charset="utf-8">
  <title>PocketSous</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #F5F5F5">

<!-- No JavaScript error message -->
<noscript>
  <div class="appContent__noJs" id="appContent__noJs">
    <strong>Your browser doesn't support JavaScript. Please enable JavaScript or consider upgrading your browser.</strong>
  </div>
</noscript>

<!-- Message to display as webpack bundle downloads -->
<div class="appContent__loading">
  <div class="appContent__loadingBox">
    <svg version="1.1"
         id="svg-loader-1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px"
         y="0px"
         viewBox="0 0 80 80"
         xml:space="preserve">

        <path
          id="spinner"
          fill="#ffffff"
          d="M40,72C22.4,72,8,57.6,8,40C8,22.4,
          22.4,8,40,8c17.6,0,32,14.4,32,32c0,1.1-0.9,2-2,2
          s-2-0.9-2-2c0-15.4-12.6-28-28-28S12,24.6,12,40s12.6,
          28,28,28c1.1,0,2,0.9,2,2S41.1,72,40,72z"
        ></path>
    </svg>
  </div>
  <div class="appContent__version">v. <%= htmlWebpackPlugin.options.version %></div>
</div>
<div class="appContent__loading appContent__update">
  <div class="appContent__loadingBox">
    <svg version="1.1"
         id="svg-loader-1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px"
         y="0px"
         viewBox="0 0 80 80"
         xml:space="preserve">

        <path
          id="spinner"
          fill="#00695c"
          d="M40,72C22.4,72,8,57.6,8,40C8,22.4,
          22.4,8,40,8c17.6,0,32,14.4,32,32c0,1.1-0.9,2-2,2
          s-2-0.9-2-2c0-15.4-12.6-28-28-28S12,24.6,12,40s12.6,
          28,28,28c1.1,0,2,0.9,2,2S41.1,72,40,72z"
        ></path>
    </svg>
  </div>
  <h4>Installing Update...</h4>
</div>
<style>
  .appContent__noJS {
    text-align: center;
    margin: 15px 0
  }

  .appContent__loading {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #00695c;
  }

  .appContent__update {
    background-color: #ffffff;
    z-index: 100000;
    display: none;
  }

  .appContent__loadingBox {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 100px;
    height: 100px;
  }

  .appContent__version {
    font-family: Arial, sans-serif;
    line-height: 1.35px;
    font-size: 20px;
    color: rgba(255,255,255,0.1);
    position: absolute;
    bottom: 20px;
    right: 10px;
  }

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
</style>

</body>
</html>
