Dockerfile
.dockerignore

node_modules
bower_components

.tmp
dump.rdb

lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log

.git
*~
*#
.DS_STORE
.netbeans
.gitignore
nbproject
.idea
.node_history
scripts

