@import 'variables';

.step {
  margin-top: -14px;
  margin-left: 25px;
  padding-left: 21px;
  padding-right: 16px;
  overflow: hidden;
  border-left: 1px solid rgb(189, 189, 189);
  height: 0;
}

.step-open {
  height: auto;
}

.photograph {
  margin-top: 1em;
}

.square {
  width: 50%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.ul {
  padding-left: 17px;
}
