@import 'variables';

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.content {
  position: relative;
  margin: 80px auto 1em auto;
  width: calc(100% - 2em);
  max-width: $screen-lg;
  font-family: Roboto, sans-serif;
  min-height: calc(100vh - 96px);
}
