@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fullScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include flexbox;
}

.pane {
  @include flexbox;
  height: calc(100vh - 96px);
}

.row {
  display: flex;
  box-sizing: border-box;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
