.image {

}

.card {
  margin: 0.5rem 0;
  background-size: cover;
  height: 300px;
  position: relative;
}

.buttons {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
