@import 'variables';

@mixin typography {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: inherit;
  text-transform: inherit;
}

.display4 {
  @include typography;
  font-size: 7rem;
  line-height: 7rem;
  font-weight: 300;
  letter-spacing: -0.04rem;
  color: $primary;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.display3 {
  @include typography;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
  color: $primary;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.display2 {
  @include typography;
  font-size: 2.8125rem;
  line-height: 3rem;
  font-weight: 400;
  letter-spacing: normal;
  color: $primary;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.display1 {
  @include typography;
  font-size: 2.125rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: normal;
  color: $primary;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.headline {
  @include typography;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: normal;
}

.title {
  @include typography;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.subheading2 {
  @include typography;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.subheading1 {
  @include typography;
  font-size: 0.938rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.body2 {
  @include typography;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.body1 {
  @include typography;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.noBottomMargin {
  margin-bottom: 0;
}

.noTopMargin {
  margin-top: 0;
}
